body{
    background-color: lightgrey;
    background-image: url(../images/01-02-02_background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    height: 100vh;
    margin: 0%;

}

title{
    font-weight:bold ;
}

.text-center{
    text-align:center
}